
Page
{

    flex-grow: 1;
    position: relative;
    justify-content: center;
    backdrop-filter: blur( 20px ) brightness( 0.33 ) contrast( 0.75 ) saturate( 1.5 );
}

Page VirtualList 
{
    width: 100%;
    height: 100%;
    gap: 8px;
}

Page > .inner
{
    flex-grow: 1;
    flex-shrink: 1;
    pointer-events: all;
    flex-direction: row;
    overflow: hidden;
    max-width: 1800px;
    background-color: #101219dd;
}

Page > .inner > .sidebar
{
    flex-shrink: 0;
    width: 500px;
    background-color: #1b202caa;
    overflow: hidden;
    flex-direction: column;
    pointer-events: all;
    gap: 8px;
}

Page > .inner > .pagebody
{
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    flex-direction: column;
}

Page > .inner > .pagebody > .row
{
    padding: 32px;
    flex-direction: row;
}

Page > .inner > .sidebar
{
    flex-direction: column;
    padding: 16px 32px;
    overflow-y:scroll;
}

Page > .inner > .sidebar > .flex-column
{
    gap: 16px;
    flex-shrink: 0;
}

Page > .inner > .sidebar meta
{
    color: #747e90;

    i
    {
        color: #636a77
    }
}

Page > .inner > .sidebar h2
{
    color: #c6d4ee;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    flex-shrink: 0;

    i
    {
        color: #3777ee;
        text-transform: none;
        font-size: 22px;
    }

}

Page > .inner > .sidebar hr
{
    background-color: #1d2431;
    height: 3px;
    width: 100%;
    margin: 30px 10px;
    flex-shrink: 0;
}

Page > .inner > .sidebar TextEntry
{
    background-color: #0f1016;
    height: 42px;
    border-radius: 16px;
    width: 100%;
    flex-shrink: 0;
    padding: 8px;
}

Page > .inner > .sidebar p
{
    color: #c6d4eeaa;
    margin: 16px 0;
}