ServerList
{
	flex-direction: column;
	overflow: scroll;
}

.notice
{
	justify-content: center;
	padding: 50px;
	font-size: 1rem;
}

.loading
{
	justify-content: center;
	padding: 50px;
	font-size: 1rem;
}

h2
{
	color: #c6d4ee;
	text-transform: uppercase;
	letter-spacing: 1px;
	flex-shrink: 0;
	font-weight: 600;

	i
	{
		color: #3777ee;
		text-transform: none;
		font-size: 22px;
	}
}

.cell
{
	&:nth-child( even )
	{
		background-color: rgba( 0, 0, 0, 0.1 );
	}
}

.row
{
	flex-shrink: 0;
	flex-grow: 1;
	border-radius: 2px;
	padding: 0px 48px;

	> *
	{
		padding: 8px;
		font-size: 15px;
		white-space: nowrap;
		align-items: center;
	}

	.game, .map
	{
		width: 25%;
	}

	.title
	{
		width: 30%;
	}

	.members
	{
		flex-grow: 1;
		justify-content: flex-end;
	}

	&:not(.header)
	{
		.game, .map
		{
			opacity: 0.3;
			gap: 8px;

			i
			{
				font-size: 24px;
			}

			img
			{
				width: 24px;
				height: 24px;
			}

			&:hover
			{
				opacity: 1;
			}
		}

		.title
		{
			font-weight: bold;
		}

		.game, .map
		{
			cursor: pointer;
		}

		&:hover
		{
			background-color: #467de422;
			color: #fff;
		}
	}

	&.header
	{
		.members
		{
			justify-content: center;
		}

		background-color: #101219dd;
		padding: 8px 48px;
	}
}
