
NotificationButton
{
    position: relative;
}

.count
{
    position: absolute;
    bottom: -4px;
    right: -4px;
    background-color: #3d88ff;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    pointer-events: none;
    font-family: Poppins;
    font-weight: 700;
    font-size: 10px;
}

Button.active .iconpanel
{
    border: 1px solid #3d88ff;
    color: white;
}