@import '/styles/mainmenu.scss';

.mainmenu
{
    flex-direction: column;
    font-size: 14px;
    pointer-events: all;

    NavigationHost
    {
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
    }
}

.body
{
    flex-grow: 1;
    flex-direction: column;
    position: relative;
   // width: 100%;
}

.is-vr 
{
    filter: drop-shadow(0px 0px 20px rgba( black, 0.5 ));
}

.side-navigation
{
    flex-shrink: 0;
}

> .mainmenu .navigator-body
{
    flex-grow: 1;

    &.hidden
    {
        display: none;
        opacity: 0;
    }
}

.mainmenu-header, .mainmenu-footer
{
    flex-grow: 0;
    flex-shrink: 0;
}

.mainmenu-header
{
    height: 90px;
    z-index: 10;
}

.mainmenu-footer
{
    z-index: 10;
}

.mainmenu-content
{
    flex-grow: 1;
    width: 100%;
}

.tooltip
{
    background-color: #656e7e;
    font-family: Poppins;
    border: none;
}
